* {
    -fx-font-smoothing-type: lcd;
}

.h1, .h2, .h3, .h4 {
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-text-fill: white;
}

.h1 {
    -fx-font-size: 24px;
}

.h2 {
    -fx-font-size: 20px;
}

.h3, .h4 {
    -fx-font-size: 16px;
}

.h4 {
    -fx-font-weight: normal;
}

.header {
    -fx-padding: 20 40 20 40;
    -fx-hgap: 20;
}

.header .options {
    -fx-spacing: 10px;
}

.button {
    -fx-min-width: 140;
}

.header .button {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
    -fx-max-height: INFINITY;
}

.header .button:hover {
    -fx-background-color: #284563;
}

.scroll-pane > .viewport, .scroll-bar, .scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-pane,
.header .button,
.section {
    -fx-background-color: #1f2937;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-radius: 3px;
    -fx-border-color: #5a5a5a;
    -fx-border-width: 1px;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-padding: 4px;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-padding: 4px;
}

.scroll-bar .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

.scroll-bar .track, .scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #3a3a3a;
}

.canvas {
    -fx-alignment: CENTER;
}

.canvas_container {
    -fx-min-height: 400;
    -fx-pref-height: 800;
}

.section {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-spacing: 20;
}

.content {
    -fx-padding: 20 40 20 40;
    -fx-spacing: 20;
}


.node {
    -fx-stroke: #ffffff;
    -fx-stroke-width: 2;
    -fx-stroke-type: inside;
}

.node:hover{
    -fx-cursor: HAND;
}

.edge {
    -fx-fill: white;
    -fx-stroke: white;

}

.selected-edge, .selected-node > Circle {
    -fx-effect: dropshadow(gaussian, #2D82B7, 10, 0.5, 0, 0);
}

.node {
    -fx-fill: transparent;
}

.node-text {
    -fx-fill: white;
    -fx-font-size: 8pt;
}

.unit-label, .edge-label {
    -fx-fill: #ffffff;
}

.feasible .node {
    -fx-stroke: #ecd163;
}

.feasible .node-text {
    -fx-fill: #ecd163;
}

.infeasible .node {
    -fx-stroke: #ff0000;
}

.infeasible .node-text {
    -fx-fill: #ff0000;
}

.best .node {
    -fx-stroke: #00ff00;
}

.best .node-text {
    -fx-fill: #00ff00;
}